WebAssignment/Service References/BusReference/BusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertLatestCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="busPlateNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="busModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="busDriver" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLatestCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertLatestCustomersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertLatestCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLatestCustomers" />
  </wsdl:message>
  <wsdl:message name="InsertLatestCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLatestCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="BusServiceSoap">
    <wsdl:operation name="InsertLatestCustomers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert driver from Bus table</wsdl:documentation>
      <wsdl:input message="tns:InsertLatestCustomersSoapIn" />
      <wsdl:output message="tns:InsertLatestCustomersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusServiceSoap" type="tns:BusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertLatestCustomers">
      <soap:operation soapAction="http://tempuri.org/InsertLatestCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BusServiceSoap12" type="tns:BusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertLatestCustomers">
      <soap12:operation soapAction="http://tempuri.org/InsertLatestCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusService">
    <wsdl:port name="BusServiceSoap" binding="tns:BusServiceSoap">
      <soap:address location="http://localhost:55501/BusForm/BusService.asmx" />
    </wsdl:port>
    <wsdl:port name="BusServiceSoap12" binding="tns:BusServiceSoap12">
      <soap12:address location="http://localhost:55501/BusForm/BusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>