WebAssignment/Service References/DriverFunction/Driver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLatestCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestCustomersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLatestCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="driverID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driverName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driverAge" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driverGender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driverRace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driverLicence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="driverAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLatestCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertLatestCustomersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLatestCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestCustomers" />
  </wsdl:message>
  <wsdl:message name="GetLatestCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="InsertLatestCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLatestCustomers" />
  </wsdl:message>
  <wsdl:message name="InsertLatestCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLatestCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="DriverSoap">
    <wsdl:operation name="GetLatestCustomers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all driver from driver table</wsdl:documentation>
      <wsdl:input message="tns:GetLatestCustomersSoapIn" />
      <wsdl:output message="tns:GetLatestCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertLatestCustomers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert driver from driver table</wsdl:documentation>
      <wsdl:input message="tns:InsertLatestCustomersSoapIn" />
      <wsdl:output message="tns:InsertLatestCustomersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DriverSoap" type="tns:DriverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestCustomers">
      <soap:operation soapAction="http://tempuri.org/GetLatestCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLatestCustomers">
      <soap:operation soapAction="http://tempuri.org/InsertLatestCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DriverSoap12" type="tns:DriverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestCustomers">
      <soap12:operation soapAction="http://tempuri.org/GetLatestCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLatestCustomers">
      <soap12:operation soapAction="http://tempuri.org/InsertLatestCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Driver">
    <wsdl:port name="DriverSoap" binding="tns:DriverSoap">
      <soap:address location="http://localhost:55501/BusForm/Driver.asmx" />
    </wsdl:port>
    <wsdl:port name="DriverSoap12" binding="tns:DriverSoap12">
      <soap12:address location="http://localhost:55501/BusForm/Driver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>