Assignment1/Service References/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Assignment1.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Assignment1.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationBusNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationSeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationTotalFare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReservationTotalSeat" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReservationBusNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationSeatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReservationTotalFare" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReservationTotalSeat" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
</xs:schema>